@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:Android;
    src: url('../fontes/idroid.otf') format('opentype');
    font-size: normal;
    font-weight: normal;
}

:root{
    --cor1: #8bd1a8;
    --cor2: #3ff189b7;
    --cor3: #29a55d;
    --cor4: #186138;
    --cor5: #316146;

    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-destaque:'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image:linear-gradient(to top,#186138, #29a55d, #3ff189b7);
    padding-top: 30px;    
}
header p{
    color: white;
    text-align: center;
    max-height: 600px;
    font-size: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 0px black;
    font-family: var(--fonte-android);
}
header h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
          
}
header h1::after{
    content: "\1F4F1";
}
header h1::before{
    content: "\1F4BB";
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    
}
nav{
    background-color: var(--cor4);
    margin: 0px;
    padding: 15px;
    font-family: var(--fonte-android);
    min-width: 400px;
}

nav > a:hover{
    color: var(--cor1);
    background-color: #254934;
    border-radius: 5px;
    transition-duration: 0.5s;
}

body{
    background-image: linear-gradient(to top,#29a55d, #3ff189b7);
    font-family:var(--fonte-padrao);
}


main .small{
    max-width: 300px;
    display: block;
    margin: auto;
}
main{
    min-width: 300px;
    max-width: 900px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: var(--cor1);
}

main a:hover{
    text-decoration: underline;
}

main img{
    width: 100%;

}

main h1{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 30px
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
}

main p{
    text-indent: 25px;
    line-height: 1.5em;
    text-align: justify;
    margin: 10px 0px;
    padding: 1px;
}

main li{
    text-decoration: none;
}
h2{
    background-image: linear-gradient(to right ,#33cf74 ,white);
    border-radius: 5px;
    padding: 5px;
}
h3{
    background-color: var(--cor3);
    border-radius: 3px 3px 0 0;
    margin-top: 10px;
    padding:5px;
}
aside{
    background-color: var(--cor2);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0px 0px 5px 20px;
   
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.74);
}

#video{
    background-color: var(--cor5);
    margin: 0px -20px;
    padding: 10px;
    padding-bottom: 58%;
    position: relative;
}
div iframe{
    position: absolute;
    top: 5%;
    left: 4%;
    width: 90%;
    height: 90%;

}


footer{
    background-color: var(--cor5);
    text-align: center;
    color: white;
    padding: 10px;

}
aside ul{
    columns: 2;

}
footer a {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 20px;
    text-decoration:none
}

footer a:hover{
    text-decoration: underline;
    background-color: var(--cor3)
}

footer a::before{
    content: " ￫ ";
}
footer a::after{
    content:" ￩ ";
}
a.site::after{
    content: " \1F517";
}
li{
    font-weight: bold;
}
h3::after{
    content: "\1F914";
}
.luz::after{
    content: " \1F4A1";
}

#btn-sub{
    display: flex;
    justify-content: center;
}
#btn-sub p{
    font-weight: bolder;
    font-family: var(--fonte-destaque);
}

#btn p{
    font-weight: bolder;
}

#box{
    padding: 1px;
    margin: 4px;
}